:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Test */

.job-list {
  display: grid;
  place-self: center;
  margin-top: 30px;
  
}
.job-list ul {
  display: grid;
  
  grid-template-columns: repeat(7, minmax(195px, 1fr));
  gap: 15px;
  list-style: none;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
}

.job-list li {

  padding: 10px;
  font-family: "Roboto";
  font-size: 1em;
  text-align: center;
  font-weight: 400;
 
  background: rgba(83, 170, 246, .4);
    box-shadow: 0 2px 7px 1px rgba(169, 172, 207, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Test */

button {
  color: #1a1a1a;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


header {
  font-size: 3.8em;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  font-family: "Bodoni";
  
}

h2 {
  font-size: 40px;
  font-family: "Arsenal SC";
  font-weight: 200;
  border-top: 2px solid #53aaf6;
  margin-top: 10px;
  
}

#container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 1rem
}

::placeholder {
  color:#b3b9bf;
  opacity: 1;
  padding-left: 5px;
}




.job-items {
  border: 1px solid #53aaf6;
  height: 27px;
  border-radius: 7px;
}

#submit {
  border-radius: 8px;
  border: 1px solid transparent;
  height: 40px;
  padding: 0.2em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
#submit:hover {
  border-color: #646cff;
}
#submit:focus,
#submit:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  #submit {
    background-color: #f9f9f9;
  }
}
